---
import PageLayout from "@/layouts/PageLayout.astro";
---

<PageLayout
  title=`Error al encontrar la página`
  descr="Página de error al no encontrar la página que estás buscando"
  mainClass="grid content-center justify-items-center"
>
  <div class="w-full h-full text-center">
    <img
      src="/img/icons/elisa-detective.webp"
      alt="Emote de elisa detective"
      width="150px"
      height="150px"
      class="inline-block"
    />
    <h1 class="text-3xl mb-6 leading-12">
      La página que estás buscando no existe
    </h1>
  </div>
</PageLayout>
