---
import Layout from "../layouts/Layout.astro";
import PlaylistCard from "../components/PlaylistCard.astro";
import { getPlaylists } from "../lib/youtube";

const playlists = await getPlaylists();
---

<Layout>
  <h1 class="text-3xl font-bold mb-6">Listas de reproducción del canal</h1>

  <div
    class="grid gap-6"
    style="grid-template-columns: repeat(5,minmax(0,1fr));"
  >
    {playlists.map((playlist) => <PlaylistCard playlist={playlist} />)}
  </div>
</Layout>
