---
import Layout from "../layouts/Layout.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
  <div class="container">
    <h1 class="text-4xl font-bold mb-4">Sitio en Construcción</h1>
    <p class="text-lg mb-6">
      Estamos trabajando para traerte algo increíble. ¡Vuelve pronto!
    </p>
    <div
      class="loader border-t-4 border-blue-500 border-solid rounded-full w-12 h-12 animate-spin"
    >
    </div>
  </div>
</Layout>
