---
import PlayListListElement from "./PlayListListElement.astro";

const { videos, initialVideoId, playListsConst, playListChats } = Astro.props;
---

<div
  id="playListList"
  class="grid gap-2 overflow-x-hidden overflow-y-auto pr-2 py-3"
  style="max-height:var(--height-playlist-list); "
  data-chats={playListChats.join(",")}
>
  {
    videos.map((video, index) => {
      let chatFolder = "";
      let seconds = 0;

      if (playListChats.includes(video.id)) {
        chatFolder = playListsConst[video.id]?.folder;
        seconds = playListsConst[video.id]?.seconds;
      }

      return (
        <PlayListListElement
          video={video}
          index={index}
          selected={initialVideoId === video.id}
          chat={chatFolder}
          seconds={seconds}
        />
      );
    })
  }
</div>
