---
const { playlist } = Astro.props;
---

<a
  href={`/playlist/${playlist.id}`}
  class="rounded-xl overflow-hidden shadow-lg hover:scale-105 transition"
>
  <img
    src={playlist.image}
    alt={playlist.title}
    class="w-full object-cover aspect-video"
  />
  <div class="p-2 bg-white dark:bg-zinc-800">
    <h2 class="text-md font-semibold">{playlist.title}</h2>
  </div>
</a>
