---
import PlayListCard2 from "../playlist/PlayListCard2.astro";
import VideoListCard from "../video/VideoListCard.astro";
import type { Result } from "@/models/result";

const { results } = Astro.props;
---

<div
  class="w-full grid gap-6"
  style="grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));"
>
  {
    results.map((result: Result, index: number) => {
      // console.log("RESULT", result);

      switch (result.type) {
        case "video":
          return <VideoListCard video={result.element} />;
          break;
        case "playlist":
          return <PlayListCard2 playlist={result.element} />;
          break;
      }
    })
  }
</div>
