---
import VideoListCard from "../video/VideoListCard.astro";
import type { searchVideo } from "@/models/searchVideo";

const { videos, initialVideoId, playListsConst, playListChats } = Astro.props;
---

<div
  class="w-full grid gap-6"
  style="grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));"
>
  {
    videos.map((result: searchVideo, index: number) => {
      return <VideoListCard video={result} />;
    })
  }
</div>
