---
import Header from "./components/Header.astro";
import Layout from "./Layout.astro";

const { title, descr, bodyClass, mainClass, currentChannelId } = Astro.props;
---

<Layout title={title} descr={descr} bodyClass={bodyClass}>
  <Header currentChannelId={currentChannelId} />
  <main
    class=`relative max-w-8xl mx-auto p-4 pb-6 min-h-(--full-height-whithout-header) ${mainClass || ""}`
    }
  >
    <slot />
  </main>
</Layout>
